
<div id="nav" class="well">
  <a href="/">Home</a> |
    <div class="pull-right">
      <h3>Admin Panel</h3>
    </div>
</div>
<div id="main" class="well">

<h3>Create a new city</h3>
<p>Example: Portland</p>

<form class="form-group" action="/cities" method="post">
  <input type="text" name="name" placeholder="Name of City" class="form-control">
  <button type="submit" name="button" class="btn pull-right"><w>Create City</w></button>

</form>

  <br>
</div>
