<div id="nav" class="well">
  <a href="/">Home</a> |
  <a href="/customers/trains">View Trains</a> |
  <a href="/customers/cities">View Cities</a>
    <div class="pull-right">
      <a href="/admin">Admin</a> |
      <a href="/protected">Signout</a>
    </div>
</div>

<div id="main" class="well">


<h3>Customer Options</h3>

List of Trains<br>
  <div id="trains">
    <% if @trains.any?() %>
    <% @trains.each do |train| %>
    <ul>
      <li><a href="/customer/train/<%=train.id()%>"> <%= train.route() %> </a></li>
    </ul>
    <% end  %>
  <%else  %>
  There are no trains
  <% end  %>
</div>

List of Cities<br>
<div id="cities">
<% if @cities.any?() %>
    <% @cities.each do |city| %>
    <ul>
      <li><a href="/customer/city/<%=city.id()%>"> <%= city.name() %> </a></li>
    </ul>
    <% end  %>
  <%else  %>
  There are no cities
  <% end  %>
</div>
</div>
