

<div id="nav" class="well">
  <a href="/">Home</a> |
  <a href="/customers/trains">View Trains</a> |
  <a href="/customers/cities">View Cities</a>
    <div class="pull-right">
      <a href="/admin">Admin</a> |
      <a href="/protected">Signout</a>
    </div>
</div>

<div id="main" class="well">
  <h3>Welcome</h3>
  <h5>We have trains to get you where you need to go! This website demonstrated the many-to-many concept in ruby sinatra. Project is a joint effort in 48 hour timeframe.</h5>
<div class="text-center home-center">
  <span class="btn"><a href="/customers/trains"><w>View Trains</w></a></span>
  <span class="btn"><a href="/customers/cities"><w>View Cities</w></a></span>
  <span class="btn"><a href="/buy_ticket"><w>Purchase Ticket</w></a></span>
</div>
</div>
