<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href='/styles.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
  $(document).ready(function() {
        $('form:first *:input[type!=hidden]:first').focus();
      });
    </script>
  </head>

  <div class="container">

    <div id="top" class="rounded">
    </div>


    <h1>Train Stations</h1>


  <body>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
    <%= yield %>
  </body>

  </div>

  <div id="footer">
      <span class="copyright">&copy; All rights reserved by Joshua Rinard and Diego Suarez</span>
    </div>
</html>
