<div id="nav" class="well">
  <a href="/">Home</a>
    <div class="pull-right">
      <a href="/admin">Admin</a>
    </div>
</div>

<div id="main" class="well">
  <h3>Admin Login</h3>
    <form action="/signin" method="post" >
      <fieldset>
          <input id="username" maxlength="100" name="username" size="25" type="text" class="form-control" placeholder="Username">
            <p>Example: user</p>

          <input maxlength="25" name="password" size="25" type="password" class="form-control" placeholder="Password">
            <p>Example: secret123</p>
        <input type="submit" value="Sign In" class="form-control">
      </fieldset>
    </form>
<div>
