<div id="nav" class="well">
  <a href="/">Home</a> |
    <div class="pull-right">
      <h3>Admin Panel</h3>
    </div>
</div>

<div id="main" class="well">
<h3>Editing <%= @train.route()  %> Train</h3>


<form class="" action="/admin/train/<%= @train.id()%>" method="post">
  <input type="hidden" name="_method" value="patch">
    <input type="text" name="route" value="" placeholder="New Name" class="form-control">
    <br>
    <button type="submit" name="button" class="btn pull-right"><w>Save Rename</w></button>
    <br><br>
</form>
</div>
