
<div id="nav" class="well">
  <a href="/">Home</a> |
    <div class="pull-right">
      <h3>Admin Panel</h3>
    </div>
</div>


<div id="main" class="well">
<h3>Create a new Train</h3>

<p>Example: Blue Line</p>

<form class="form-group" action="/trains" method="post">
  <input type="text" name="route" placeholder="Name of Train" class="form-control">  <br>
  <button type="submit" name="button" class="btn pull-right"><w>Create Train<w></button>
</form>
  <br>
</div>
